
body{
    margin: 0px;
    text-align: center;
     font-family: 'Merriweather', serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #494CA2;
    
}
.skills1{
    display: flex;
    flex-wrap: wrap;
padding-left: 300px;
      
}
.skill {
      background-color: #f2f2f2;
      border-radius: 8px;
      padding: 8px 16px;
      margin: 8px;
      font-size: 14px;
      
}
.listele{
    justify-content: flex-end;
}
li{
    display: inline;
    list-style: none;
    margin: 0 1rem;
    
} 
.navelements{
    color: antiquewhite;
    text-decoration: none;
}
.navelements:hover{
    color: #9EA9F0;
    border-bottom: 2px solid #9EA9F0;
}

   
h1{
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;  /* 100%=16px  90px/16=562.5 */ 
    margin: 50px auto 0 auto;
    color: #494CA2;
    line-height: 2rem; 
}  
/*p{
    margin-bottom: 0px;
}*/
h2{
    font-size: 2.5rem;
    font-style: 'Montserrat', sans-serif;
    color: #494CA2;
    font-weight: normal;
}
h3{
    color: #494CA2;
}
a{
    color: #494CA2;
}
.top-container{  
    background-color:#9EA9F0;
    position: relative;
    padding-top: 50px;
    
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 500px;
} 
.top-cloud{
    position: absolute;
    right: 100px;
    top: 50px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.dev{
    width: 25%;
    float: left;
   /*padding: 20px;*/
   margin-right: 20px;
}
.brain{
    width: 25%;
    float: right;
    margin-left: 20px ;
}

.btn {
    
  background: #9EA9F0;
  background-image: -webkit-linear-gradient(top, #9EA9F0, #9EA9F0);
  background-image: -moz-linear-gradient(top, #9EA9F0, #9EA9F0);
  background-image: -ms-linear-gradient(top, #9EA9F0, #9EA9F0);
  background-image: -o-linear-gradient(top, #9EA9F0, #9EA9F0);
  background-image: linear-gradient(to bottom, #9EA9F0, #9EA9F0);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #494CA2;
  font-size: 24px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.bottom-container{
    margin-top: 40px;
    background-color: #9EA9F0;
    margin-bottom: 0;
    padding: 50px;
}

.abc{
    margin: 20px 0 40px 0;
    padding: 20px;
}
.copyright{
    margin: 0 auto 0 auto;
}

.footer-link{
    padding: 20px;
}

.copyright{
    margin-top: 30px;
}

.contact-me{
    padding: 60px;
    
}

hr{
    border-top-style: dotted;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    width: 3%;
    border-width: 5px;
    
}

.skills{
    background-color:#9EA9F0;
    padding: 30px;
    height: 50%;
}

.profile{
    width: 50%;
    height: 50%;
    margin: 100px auto 100px auto;
    line-height: 2;
}
.profile-dp{
    height: 25px;
    width: 25px;

   /*padding: 20px;*/
   margin-right: 20px;
}




 #tech-skills{
    padding: 10% 20% ;
}

.mid{
    text-align: left;
}


.skill1{

    padding: 5% 0;
   
}

/* .faticon{

} */

#projects{
    padding:5% 20%;
}
.mem{
    width:100%;
    transition: transform .2s;
}
.mem:hover{
transform: scale(1.06);
}
#projects{
    background-color:#9EA9F0;
}
 

 
